<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.babykingdom.interfaceeffect">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ButtonActivity"/>
        <activity android:name=".AnimationActivity"/>
        <activity
            android:name=".QianhaiActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".PlayVideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme2"/>
        <activity
            android:name=".PlayVideoActivityMy"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".PlayVideoActivity3"
                  android:screenOrientation="landscape"
                  android:theme="@style/AppTheme2">
        </activity>
    </application>

</manifest>